:root{
    --ContainerBG: #ebf2ff;
    --TabsColor: #d6e1f1;
}

#Home-Page{
    position: absolute;
    display: flex;
    width: 980px;
    height: 100%;
    bottom: 0;
}
#Play-Page{
    position: absolute;
    display: flex;
    width: 980px;
    height: 100%;
    bottom: 0;
}
#Shop-Page{
    position: absolute;
    display: flex;
    width: 980px;
    height: 100%;
    bottom: 0;
}
#Loot-Page{
    position: absolute;
    display: flex;
    width: 980px;
    height: 100%;
    bottom: 0;
}
#Event-Page{
    position: absolute;
    display: flex;
    width: 980px;
    height: 100%;
    bottom: 0;
}


#HomeContainer{
    position: absolute;
    width: 100%;
    height: auto;
    top: 0;
    bottom: 40px;
    background: var(--ContainerBG);
    z-index: 0;
}
#BottomBar{
    position: absolute;
    display: flex;
    width: 100%;
    height: 40px;
    bottom: 0;
    background: #c7d0df;
    z-index: 0;
    overflow-x: clip;
    overflow-y: clip;
}